/* display area */

.calculator-top {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  background: #222222;
  color: white;
  font-size: 55px;
}

.display {
  display: flex;
  align-items: flex-end;
}

.display p {
  display: flex;
}
