/* All styles for your header Components live here */

.HeaderContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.HeaderContent {
  border: 1px solid orange;
}

.HeaderTitle {
  border: 1px solid green;
}
